{% if blogpost %}
<h1>{{ blogpost.title }}</h1>
<p>{{ blogpost.content }}</p>
<p>by: {{ blogpost.author }} | on: {{ blogpost.pub_date }}</p>

    {% if comments %}
    There are {{ comment_count }} comment(s) for this post.<br/>
    <ul>
        {% for comment in comments %}
            <li>
            <a href="{{ comment.url }}">{{ comment.author }}</a> said...<br/>
            {{ comment.comment }} ({{comment.pub_date}})
            </li>
        {% endfor %}
    </ul>
    {% else %}
    No comments for this post.
    {% endif %}
    
    <form action="/blog/post/{{blogpost.id}}/" method="post">
    <table>
    {{ comment_form }}
    <tr>
        <td colspan="2">
            {% if errors %}
                <ul>
                    {% for error in errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
            <input type="submit" value="Submit">
            <input type="reset" value="Reset">
        </td>
    </tr>
    </table>
    </form>
{% endif %}